div.a {
       text-align: right;
}

body {
       background-color: #000;
       padding-top: 20px;
}

#footer {
       background-color: grey !important;
}

#overlay {
       position: fixed;
       display: block;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: rgba(0, 0, 0, 1);
       z-index: 2;
       cursor: pointer;
}

#text {
       position: absolute;
       top: 50%;
       left: 50%;
       font-size: 20px;
       color: white;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
}

.nav {
       display: none;
}

pre,
p {
       color: white;
       white-space: pre-wrap;
       white-space: -moz-pre-wrap;
       white-space: -pre-wrap;
       white-space: -o-pre-wrap;
       word-wrap: break-word;
}

hr {
       color: white;
}

#tag {
       color: white;

}

#tag:hover {
       color: rgb(255, 132, 194) !important;
}

a:link,
a:visited {
       text-decoration: none !important;
}

.hidden {
       color: black;
}

.alert {
       position: fixed;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: fit-content;
}

@keyframes spin {
       from {
              transform: rotateY(0deg);
       }

       to {
              transform: rotateY(359deg);
       }
}

.hard-photo {
       animation: spin 10s infinite;
}

li,
ul {
       color: white;
}